.img2{
    background-image: url("images/banner.png");
    background-repeat:no-repeat ;
    height: 550px;
    margin-top: 50px;
    margin-left: 100px;
}
.ha1{
    padding-left:300px;
    color: white;
    font-size: 45px;
    padding-top: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.ha2{
    padding-left: 450px;
    color: rgb(12, 206, 12);
    font-size: 40px;
    font-weight: 400px;
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.para{
    color: white;
    padding-left: 200px;
    padding-top: 50px;

}
.btn1{
    background-color: rgb(18, 209, 18);
    height: 60px;
    width: 100px;
    border-radius: 12px;
    margin-top: 50px;
    margin-left: 500px;
    font-size: larger;
}
.para1{
    color: white;
    padding-left: 280px;
}
.h2{
    padding-left: 500px;
    font-size : 50px; 
    padding-top: 40px;
}
.ha3{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.para4{
    color: beige;
}
.para6{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler
}
.para7{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler

}
.para9{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler
}
.btn{
    margin-left: 590px;
    margin-top: 30px;
}
.hr1{
    color: rgb(46, 218, 46);
margin-top: 40px;
border-radius: 16px;
}
.header1{
    margin-left: 500px;
    font-size: 50px;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.para10{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 320px;
}
.btn2{
    display: flex;
    background-color: rgb(214, 236, 214);
    border-radius: 8px;
}